
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f8ff;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background: linear-gradient(135deg, #0066cc, #003366);
}

.login-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  align-items: center;
}

h1 {
  color: #0066cc;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px 1px 10px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.input-box input:focus {
  outline: none;
  border-color: #0066cc;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #0066cc;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.remember-forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.remember-forget label {
  display: flex;
  align-items: center;
  color: #333;
}

.remember-forget input[type="checkbox"] {
  margin-right: 0.5rem;
}

.remember-forget a {
  color: #0066cc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.remember-forget a:hover {
  color: #004c99;
}

button {

  width: 100%;
  padding: 0.75rem;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004c99;
}

.register-link {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
}

.register-link a {
  color: #0066cc;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.register-link a:hover {
  color: #004c99;
}


.error-message {
  color: #ff3333;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}